.Persona1{
    height: auto;
    width: 1300px;
    text-align: center;
    align-items: center;
    background-color: #00913e;
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 120px;
    justify-content: center;
}

.buscar {
    display: flex;
    flex-wrap: wrap; /* Alinea el contenido del div verticalmente */
    justify-content: center; /* Centra el contenido del div horizontalmente */
    align-items: center; /* Centra el contenido del div verticalmente */
    padding: 20px;
}

.buscar input{
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
}

.buscar button{
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
    background-color: #ec7f00;
    color: white;
    padding: 10px 20px;
}

.buscar button:hover{
    background-color:#3c5100;
    color: black;
}

table {
    align-items: center;
    width: 100%;
    border-collapse: separate; /* Asegúrate de que los bordes no estén colapsados */
    border-spacing: 0; /* Elimina el espacio entre celdas */
    border-radius: 5px; /* Ajusta el valor según sea necesario */
    overflow: hidden; /* Para que el contenido no se desborde del radio del borde */
    border-style: 1px;
}

th, td {
    padding: 1px;
    text-align: center;
    border: .5px solid #000000; /* Opcional: define un borde para las celdas */
    padding: 8px; /* Opcional: agrega espacio dentro de las celdas */
    border-style: 1px;
}

th {
    background-color: #3c5100;
}

td{
    background-color: white;
}

.table{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.action-btn {
    padding: 5px 10px;
    color: white;
    border: none;
    cursor: pointer;
    margin-right: 5px;
}

.edit-btn {
    background-color: #4CAF50;
}

.delete-btn {
    background-color: #f44336;
}

.delete-btn, .edit-btn{
    border-radius: 4px;
}

.edit-btn:hover{
    background-color: #3c5100;
}

.delete-btn:hover{
    background-color: #ba0c00;
}
