.Persona1 {
    height: auto;
    width: 1300px;
    text-align: center;
    align-items: center;
    background-color: #00913e;
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 120px;
    justify-content: center;
}

.buscar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.buscar input {
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
}

.buscar button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
    background-color: #ec7f00;
    color: white;
}

.buscar button:hover {
    background-color: #3c5100;
    color: black;
}

table {
    align-items: center;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 5px;
    overflow: hidden;
    border-style: solid;
    border-width: 1px;
}

th, td {
    padding: 8px;
    text-align: center;
    border: 0.5px solid #000000;
}

th {
    background-color: #3c5100;
    color: white;
}

td {
    background-color: white;
    color: black;
}

.table {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.action-btn {
    padding: 5px 10px;
    color: white;
    border: none;
    cursor: pointer;
    margin-right: 5px;
}

.edit-btn {
    background-color: #4CAF50;
}

.delete-btn {
    background-color: #f44336;
}

.pdf-btn {
    background-color: #ec7f00;
}

.delete-btn, .edit-btn, .pdf-btn {
    border-radius: 4px;
}

.edit-btn:hover {
    background-color: #3c5100;
}

.delete-btn:hover {
    background-color: #ba0c00;
}

.pdf-btn:hover {
    background-color: #975300;
}
